.element__paragraph{
    margin: 0;
    line-height: 79px;
    /*border: 1px solid red;*/
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}