.profile__status{
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;

}