@import url(./__image/element__image.css);
@import url(./__paragraph/element__paragraph.css);
@import url(./__heart-button/element__heart-button.css);
@import url(./__info/element__info.css);
@import url(./__delete-button/element__delete-button.css);
@import url(./__like/element__like.css);
@import url(./__like-current/element__like-current.css);

.element{
    width: 282px;
    height: 361px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}


@media screen and (max-width:890px){
    .element{
        margin: 0 auto;
    }
}