.popup__container-input{
    width: 358px;
    margin-left: 34px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.popup__container-input:last-of-type{
    margin-top: 40px;
}

@media screen and (max-width:420px){
    .popup__container-input{
        max-width: 248px;
    }
}

